$fllower_cursor_sizes: 40px;
$cursor_sizes: 15px;

#cusor_follower{
    position: fixed;
    background: #afafaf;
    border-radius: calc($fllower_cursor_sizes / 2);
    width: $fllower_cursor_sizes;
    height: $fllower_cursor_sizes;
    top: 0px;
    left: 0px;
    translate: -50% -50%;
    user-select: none;
    pointer-events: none;
    transition: .3s opacity;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    i{
        opacity: 0;
    }
}

#cursor{
    position: fixed;
    width: $cursor_sizes;
    height: $cursor_sizes;
    background: white;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    translate: -50% -50%;
    user-select: none;
    pointer-events: none;
    transition: .3s opacity;
    z-index: 10000;
}

body:not(:hover){
    #cursor,  #cusor_follower{
        opacity: 0;
    }
}